<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='src/css/add_song.css') }}">
</head>
<body>
    <div class="container mx-auto px-4 text-center">
        <h1 class="hero text-2xl font-bold mb-4 text-center">Add a Song to the Queue</h1>
        <form method="POST" class="text-center mx-auto mt-8 flex justify-center items-center" style="max-width: 500px;">
          <input class="flex-grow px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring" 
                 type="text" name="song_query" placeholder="Search for a song" required>
          <button type="submit" class="ml-2 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 w-24">
            Search
          </button>
        </form>

        <!-- Display flashed messages -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="mt-4">
              {% for message in messages %}
                <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                  <span class="block sm:inline">{{ message }}</span>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% if tracks %}
        <div class="track-list mt-6">
          <h3 class="text-2xl font-bold mb-4">Search Results:</h3>
          <ul class="w-full mx-auto text-center">
            {% for track in tracks %}
            <li class="track-item mb-4">
              <img src="{{ track.album.images[0].url }}" alt="Album Art" class="w-16 h-16 inline-block">
              <div class="inline-block ml-4">
                <strong>{{ track.name }}</strong> by {{ track.artists[0].name }}
              </div>
              <!-- Form to add track to queue -->
              <form action="{{ url_for('queue_song') }}" method="POST" class="inline-block ml-4">
                <input type="hidden" name="track_uri" value="{{ track.uri }}">
                <input type="hidden" name="song_query" value="{{ song_query }}">
                <button type="submit" class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600">
                  Add to Queue
                </button>
              </form>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    </div>
</body>
</html>